

.edit-page {
    height: 100%;
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.edit-title {
    color: black;
    font-family: "Dubai Light", serif;
    font-weight: bold;
    font-size: 2em;
    padding: 10px 0;
}

.team-img {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-content: space-evenly;
    /*border: orchid 2px solid;*/
    width: 35em;
    padding: 10px 0;
}
.form-team {
    display: flex;
    justify-content: flex-end;
    min-height: fit-content;
    background-color: papayawhip;
}