

.edit-page {
    height: 100%;
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.edit-title {
    color: #d17874;
    -webkit-text-stroke: 1px #d17874;

    font-family: "Dubai Light", serif;
    font-weight: bolder;
    font-size: 2em;
    padding: 10px 0;
}

.team-img {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-content: space-evenly;

    height: 15em;
    padding: 10px 0;
}
.form-team {
    display: flex;
    justify-content: flex-end;
    min-height: fit-content;
    background-color: papayawhip;
}