.small-pixelball {
    width: 1.5em;
    padding-right: 2px;
}

.pokemon-info {
    display: flex;
    width: 100%;
    min-width: 7em;

    align-items: center;
    padding: 0.25em;
}

.pokemon-info p {
    display: flex;
    justify-items: auto;
    justify-content: center;

    width: 100%;
    margin: 0.2em;
    font-family: Dubai, sans-serif;
}

