.login-page-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3em;
    height: 50vh;

}

.login-title{
    margin-bottom: 1em;
    padding: 0.5em 2em;
    border: #e87f7f 3px solid;
    border-radius: 50px;
    color: #e87f7f;

}

.login-page-wrapper label{
    font-family: "pixelate", sans-serif;
    font-weight: normal;
    font-style: oblique;
    color: maroon;
}

.login-page-wrapper input{
    margin: 20px 0 10px 20px;
    height: 1em;
    padding: 1em;
    border-radius: 12px;
    border: 1px solid lightgrey;
    outline: none;
    box-shadow: 0 0 20px -18px;
}

.login-btn{
    background: linear-gradient(to bottom right, #b15c54, #fd9f9f);
    border: none;
    border-radius: 12px;
    color: floralwhite;
    cursor: pointer;

    display: inline-block;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;

    padding: 0 1rem;
    margin: 1em 0;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
}

.login-text{
    font-size: 1.1em;
}