.login-page-wrapper {

    display: flex;
    flex-direction: column;
    padding-top: 3em;
    height: 50vh;

}

.login-title{
    margin-bottom: 1em;

}

.login-page-wrapper label{
    font-family: "pixelate", sans-serif;
    font-weight: normal;
    font-style: oblique;
    color: maroon;
}

.login-page-wrapper input{
    margin: 20px 0 10px 20px;
    height: 1em;
    padding: 1em;
    border-radius: 12px;
    border: 1px solid lightgrey;
    outline: none;
    box-shadow: 0 0 20px -18px;
}

.login-button{
    margin: 10px;
    padding: 10px;
}
