.register-page-wrapper{
    height: 50vh;
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    padding-top: 3em;
}
.register-title {
    margin-bottom: 1em;
}
.register-page-wrapper input{
    margin: 20px 0 10px 20px;
    height: 1em;
    padding: 1em;
    border-radius: 12px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 20px -18px;
}
.register-page-wrapper label{
    font-family: "pixelate", sans-serif;
    font-weight: normal;
    font-style: oblique;
    color: maroon;
    /*padding-right: 1em;*/
}
.error-EN{
font-family: game_paused, sans-serif;
    font-weight: bold;
}

.error-U {
    font-family: unown-lower, sans-serif;
}

.form-button {
    background: linear-gradient(to bottom right, #b15c54, #fd9f9f);
    border: 0;
    border-radius: 12px;
    color: floralwhite;

    display: inline-block;
    font-family: "Segoe UI",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;

    padding: 0 1rem;
    margin: 1em 0;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
}