.register-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 50vh;
    width: 30vw;
    padding-top: 3em;
}

.register-title {
    margin-bottom: 1em;
}

.register-page-wrapper input {
    margin: 20px 0 10px 20px;
    height: 1em;
    padding: 1em;
    border-radius: 12px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 20px -18px;
}

.register-page-wrapper label {
    font-family: "pixelate", sans-serif;
    font-weight: normal;
    font-style: oblique;
    color: maroon;
}

.error-EN {
    display: flex;
    justify-content: center;

    text-align: center;
    font-family: 'pixelate', sans-serif;
    font-weight: bold;
    padding: 2px;
}

.error-U {
    display: flex;
    justify-content: center;

    text-align: center;
    font-family: unown-lower, sans-serif;
    padding: 4px 2px 2px 2px;
}

.form-button {
    background: linear-gradient(to bottom right, #b15c54, #fd9f9f);
    border: 0;
    border-radius: 12px;
    color: floralwhite;

    display: inline-block;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;

    padding: 0 1rem;
    margin: 1em 0;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
}

.success-message {
    background: linear-gradient(to bottom right, #b15c54, #fd9f9f);
    padding: 10px;
    font-family: "Segoe UI", sans-serif;
    color: floralwhite;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
