.nature-table {
    width: 30em;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #bbbbe8;
    background: #a0a0c4;
    margin: auto;
    color: snow;
}


.table-rule {
    background: #d1d1ff
}
.nature-table th {
    /*color: #768DE5;*/
    /*font-size: small;*/
}

#nature-table-text {
    background: #bbbbe8;
    color: snow;
}

#disliked-th {
    background: #ddf;
    color: #768DE5;
    padding: 1em;
}

#favorite-th {
    background: #ddf;
    color: #fc6673;
    padding: 1em;
}

.spicy {
    background: #e87f7f;
    color: #b74545;
}

.sour {
    background: #FAE078;
    color: #e88002;
}

.dry {
    background: #9DB7F5;
    color: #5177e7;
}

.bitter {
    background: #A7DB8D;
    color: limegreen;
}

.sweet {
    background: lightpink;
    color: hotpink;
}

.no-preference {
    background: #bbbbe8;
}


.nature-table p:active {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #ff6, 0 0 60px #ff6, 0 0 70px #ff6;
    }
    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff6, 0 0 50px #ff6, 0 0 60px #ff6, 0 0 70px #ff6, 0 0 80px #ff6;
    }
}

