.member-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.member-header {
    display: flex;
    align-items: center;
    height: fit-content;
}

.hi-member {
    padding: 2em 0 1em 0;
}

.snack-berries {
    margin-left: 1em;
    padding-top: 17px;
    height: 4em;
}

.chose-text {
    font-family: pixelate, sans-serif;
    width: 22em;
    margin-right: 0.2em;
    color: brown;
}

.starter-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-width: 380px;
}

.starter-choice {
    display: flex;
}

.member-dex {
    width: 350px;
    height: 250px;
}


.pixelball {
    height: 3em;
    width: 2.5em;
}
.pixelball:hover{
    cursor: pointer;
}

/*------------------------------------------*/
.charmander{
    height: 5em;
}
.member-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: brown;

    width: 23em;
    height: 70%;
    margin: 5em 2em 0 2em;
    padding: 2em;
    border-radius: 12px;
    background-color: #fd9f9f;
}

.homepage-link {
    color: floralwhite;
}

.logout-btn,
.password-wrapper button {
    background: linear-gradient(to bottom right, #b15c54, #fc6673);
    border: 0;
    border-radius: 12px;
    color: floralwhite;

    display: inline-block;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;

    padding: 0 1rem;
    margin: 1em 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow .2s ease-in-out;
}

