
.opening-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 7px 20px;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.opening-container.closed:hover{
    background-color:pink;
}

.opening-container.closed {
    background-color:  #fd9f9f;
}

.opening-container.open {
    background-color:pink;
}

.opening-button {
    padding: 10px 20px;
    background-color: transparent;
    color: whitesmoke;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}