@font-face {
    font-family: 'unown';
    src: url('./unown-ovewa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'unown-lower';
    src: url('annone-rxob-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*//////////////////////////////////////////////////////////*/


@font-face {
    font-family: 'pixelate';
    src: url('sfpixelate-wbgw-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'pixelate';
    src: url('sfpixelatebold-vrk4-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

/*---------------------------------------------------*/

@font-face {
    font-family: 'pixelate_shaded';
    src: url('sfpixelateshaded-doyx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pixelate_shaded';
    src: url('sfpixelateshadedbold-ljze-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
/*---------------------------------------------------*/

@font-face {
    font-family: 'game_paused';
    src: url('gamepaused-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*---------------------------------------------------*/
