@font-face {
    font-family: 'unown';
    src: url('./unown-ovewa-webfont.woff2') format('woff2'),
    url('./unown-ovewa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'unown-lower';
    src: url('annone-rxob-webfont.woff2') format('woff2'),
         url('annone-rxob-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*//////////////////////////////////////////////////////////*/


@font-face {
    font-family: 'pixelate';
    src: url('sfpixelate-wbgw-webfont.woff2') format('woff2'),
    url('sfpixelate-wbgw-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixelate';
    src: url('sfpixelateoblique-xzwz-webfont.woff2') format('woff2'),
    url('sfpixelateoblique-xzwz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;

}

@font-face {
    font-family: 'pixelate';
    src: url('sfpixelatebold-vrk4-webfont.woff2') format('woff2'),
    url('sfpixelatebold-vrk4-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'pixelate';
    src: url('sfpixelateboldoblique-pqxz-webfont.woff2') format('woff2'),
    url('sfpixelateboldoblique-pqxz-webfont.woff') format('woff');
    font-weight: bold;
    font-style: oblique;

}


/*---------------------------------------------------*/

@font-face {
    font-family: 'pixelate_shaded';
    src: url('sfpixelateshaded-doyx-webfont.woff2') format('woff2'),
    url('sfpixelateshaded-doyx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pixelate_shaded';
    src: url('sfpixelateshadedoblique-76eb-webfont.woff2') format('woff2'),
    url('sfpixelateshadedoblique-76eb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;

}


@font-face {
    font-family: 'pixelate_shaded';
    src: url('sfpixelateshadedbold-ljze-webfont.woff2') format('woff2'),
    url('sfpixelateshadedbold-ljze-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'pixelate_shaded';
    src: url('sfpixelateshadedboldoblique-mp82-webfont.woff2') format('woff2'),
    url('sfpixelateshadedboldoblique-mp82-webfont.woff') format('woff');
    font-weight: bold;
    font-style: oblique;

}

/*---------------------------------------------------*/

@font-face {
    font-family: 'game_paused';
    src: url('gamepaused-webfont.woff2') format('woff2'),
    url('gamepaused-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}