
.password-wrapper *{
    margin: 4px 0;
}
.password {
    box-sizing: border-box;
    height: 2em;
    width:200px;
    padding: 1em;
    border-radius: 20px;
    border: 1px solid lightgrey;

    line-height: 1.5em;
    font-family: inherit;
    color: #fc6673;
    font-size: 0.9em;
    font-weight: bold;
}