.edit-team-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}

.individual-pokemon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30em;
    max-height: 10em;
    padding: 0.5em 0;
}

.individual-pokemon label{
    padding: 10px ;
}

.pixelball{
    display: flex;
    align-content: center;
    height: 3em;
    width: 2.5em;
}
