.edit-team-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;

}

.individualPokemon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35vw;
    max-height: 10em;
    padding: 0.5em 0;
}

.individualPokemon label{
    padding: 10px ;
}
.pixelball{
    display: flex;
    align-content: center;
    height: 3em;
    width: 2.5em;
}
.team-submit-btn {

    color: orchid;
    display: flex;
    justify-content: flex-end;

}