.image-swapper {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

}

.image-swapper-label,
.image-swapper-btn{
    font-size: 1em;
    text-align: center;
    background-color: #ffc5c7;
    color: whitesmoke;
    border: none;
    padding: 4px;
}

.image-swapper-label{
    border-radius: 12px 12px 0 0;
}
.image-swapper-btn{
    border-radius: 0 0 12px 12px ;
}
.image-swapper-btn:hover{
    color: hotpink;
    cursor: pointer;
}