header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14vh;
    background-color: peachpuff;
    /*position: relative;*/
    /*top: 0;*/
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*background-color: mintcream ;*/
    background-image: url(./../../assets/assorted-collection/header-berry.png);
    background-size: contain;
    background-repeat: repeat ;

    opacity: 0.8;
    width: 98.5%;
    height: 10vh;
}

.logo {
    display: flex;
    flex-direction: column;
    /*height:1%;*/
    width: 20%;
    opacity: 0.99;
    padding: 10px;
}
.image-logo{
    width: 4.5em;
    height: 4em;
    max-height: 100%;
}
.text-logo {
    height: 1em;
    width: 4.5em;
}

.links-container{
    /*border: yellow 2px solid;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*align-items: center;*/

    border-radius:20px;
    background-color: pink;
    background-size:contain;

    height: 100%;
    width: 35%;
    min-width: 30%;
    flex-basis: fit-content;
    /*flex-grow: 0.2;*/
    /*opacity: 0.8;*/
}

li {
    list-style: none;
    font-family: "pixelate", serif;
    margin: 0 10px;
    display: flex;
    width: auto;
    /*background-color: indianred;*/
}

/*.navlink{*/
/*    display: flex;*/
/*    font-family: "pixelate", serif;*/
/*    font-weight: bold;*/
/*    font-size: 1.4em;*/
/*    color: orangered;*/

/*}*/

.active-link {
    border: 3px solid wheat;
    background-color: peachpuff;
    border-radius: 25px;
    color: coral;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: inherit;
}

.default-link{
    border: 3px solid transparent;
    display: flex;
    font-family: "pixelate", serif;
    font-weight: bold;
    font-size: 1.4em;
    /*color: #eb2a89;*/
    /*color: #ff2e95;*/
    /*color: #f98787;*/
    color:deeppink;
}



.inner-container {
    display: flex;
}

.inner-container2 {
    /*border: orangered solid 4px ;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

a:visited{
    style: none;
}


.my-team-button {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bolder;

    border: cornsilk solid 2px;
    border-radius: 5px;
    background-color: transparent;
    color: cornsilk;
    width: 6em;

}
.team-display{
    z-index: 8000;
}