.berry-dex-card {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    padding: 1.5em;
}

.no-berry-text {
    display: flex;
    justify-content: center;
    font-family: pixelate, sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 2em;
    margin-bottom: 2em;
    color: papayawhip;

}

.dex-container1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
    min-height: 7em;
}

.berry-img {
    display: flex;
    height: 7em;
    width: 6em;
}

.dex-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 7em;
    min-width: 9em;

}

.berry-name {
    color: floralwhite;
    height: 2em;
    font-size: 1.5em;
}

.berry-id {
    font-family: pixelate, sans-serif;
    font-size: 1em;
    height: 2em;
}

.dex-container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20em;

}

