
.my-team-button {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bolder;

    border: cornsilk solid 2px;
    border-radius: 5px;
    background-color: transparent;
    color: cornsilk;
    width: 6em;

    max-height: 10em;


}