.preference-page-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    min-width: 45vw;
}
.preference-page-wrapper section{
    margin: 1em 0;
}

.main-flav-tbl{
    border-radius: 12px;
}

.natures-table-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: mediumpurple;
}
.purple-link{
    color: mediumpurple;
}

.empoleon-wrapper{
    padding: 0 2em;
}
.feebas-evolution{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feebas-evolution img{
    border-radius: 12px;
    height: 11.5em;
    width: 20em;
    margin: 3px;
}

