.berryextention {
    display: flex;
    flex-direction: column;
    width: 6em;
    height: 100%;
    /*position: absolute;*/
    background-color: pink;
    border: #ffafae solid 2px;
    border-width: 0 2px 2px 0;
}


.toggle-berry {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: #646cff solid 1px;*/
    border: #fd9f9f solid ;
    border-width: 2px 2px 2px 0;

    border-radius:0 100px 100px 0;
    background-color: lightpink;
    width: 5em;
    height: 6em;
}
