
.team {
    width: 9em;
    /*height: 20em;*/
    min-height: fit-content;
    min-width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 5.5em;
    border-radius: 0 15px 15px 15px;
}

.team--isOpen {
    z-index: 3000;
    background-color: cornsilk;
    border: #ffafae solid;
    border-width: 0 2px 2px 2px;
}

.team--isClosed {
    display: none;
}

/**/

.no-team-text{
    width: inherit;
    text-align: center;
}

/**/

.my-team-link {
    display: inline-block;
    border: 0;
    outline: transparent;
    border-radius: 12px;
    padding: 0 1rem;

    background: linear-gradient(to bottom right, #dc030b,#FF5F65);
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 2.5;

    color: floralwhite;
    text-decoration: none;
}

.my-team-link:hover {
    background: linear-gradient(to bottom right, orangered, crimson);
}