
.team {
    width: 9em;
    min-width: 3em;
    /*height: 20em;*/
    min-height: fit-content;
    z-index: 1000;
    min-width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute; top: 5em;
    border-radius: 0 0 15px 15px;
    /*position: relative;*/
}

.team--isOpen {
  background-color: cornsilk;
    border: #ffafae solid 2px;
    border-width: 0 2px 2px 2px;


}

.team--isClosed {
    display: none;
}

.my-team-link{
        background: linear-gradient(to bottom right, #b15c54, #fd9f9f);
        border: 0;
        border-radius: 12px;
        color: floralwhite;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 2.5;
        outline: transparent;
        padding: 0 1rem;
        text-align: center;
        text-decoration: none;
        transition: box-shadow .2s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
    }